openapi: 3.1.0
info:
  title: LinkedIn Voyager + SDUI API (unofficial)
  version: reverse-engineered-2026-06-11
  description: >
    Reverse-engineered from a logged-in linkedin.com session (see README), and
    READ-ONLY: look up a member (`profile`), a company (`company`), the
    signed-in member (`me`), and search for people (`search-people`) — no
    messaging, posting, or connection requests. me/profile/company hit the
    Voyager JSON endpoints at /voyager/api/... (still live and serving real
    data). `search-people` is different: LinkedIn's search UI moved to a
    server-driven-UI layer (RSC), so the old Voyager search endpoints are dead
    (typeahead 404s, blended-search/jobs need uncapturable per-deploy ids), and
    search now POSTs to /flagship-web/search/results/all/ and answers with a
    React Server Components (Flight) component tree — NOT a JSON API. The
    connector replays that POST (keyed by `keywords`) and walks the Flight tree
    to pull each people card (name, headline, location, profile URL) via
    x-mastro-extract `format: flight`. Companies/jobs search is still NOT
    exposed (each vertical is a separate SDUI surface). ⚠️ Automating
    linkedin.com violates LinkedIn's User Agreement §8.2 and can get the
    signed-in account restricted or banned; these are read calls but the risk
    is real and lands on YOUR warmed-up account — and search is a *heavier*
    signal than a single profile read (it's the classic scraping pattern), so
    keep it human-paced. A raw non-browser client gets challenged within ~8
    requests, which is why every call runs through the logged-in browser tab
    (x-mastro-replay.via_browser) and the rate is low.

servers:
  - url: https://www.linkedin.com

# --- replay choreography (mastro extension) --------------------------------
# Proven against a live session: the Voyager auth + headers below return 200
# with real data for `me`/`profile`, but a raw client (Python, curl) gets
# bounced to a 302-to-self bot-challenge after a handful of requests — it can't
# clear LinkedIn's JS/cookie challenge. So requests run through the extension's
# logged-in linkedin.com tab (same path as Depop/Amazon — see
# docs/BROWSER-PROXY.md), which carries the real fingerprint + challenge state.
# 302 to the same URL from outside the tab IS the bot-wall; recapture covers the
# auth-expiry codes. Rate is low: read traffic still feeds LinkedIn's automation
# heuristics, and the challenge trips on velocity, not just volume.
x-mastro-replay:
  via_browser: true
  retry_on: [429]
  recapture_on: [401, 403]
  rate_limit:
    requests_per_minute: 10

# --- how a captured session becomes a live request -------------------------
# Auth is the cookie jar: li_at is the HttpOnly session token; JSESSIONID
# doubles as the CSRF secret. CONFIRMED from a live request: the JSESSIONID
# cookie value is quoted ("ajax:123...") but the csrf-token header must be the
# UNQUOTED value (ajax:123...). The extension capture serializer has no string
# transforms, so the quotes are stripped at replay time via ${unquote:...} (see
# README "The JSESSIONID quote gotcha" — the one-line SDK modifier). The header
# set below is copied verbatim from a working linkedin.com request.
x-mastro-auth:
  required_fields: [li_at, jsessionid, cookie_header]
  # Cheap read-only probe after capture: GET the signed-in member (the app's own
  # `me`). Proven to 200 with real data on a live session. 302/401/403 means the
  # session is challenged or dead — re-login. Stored in the credential.
  verify:
    operationId: me
  headers:
    cookie: "${auth.cookie_header}"
    # Unquoted JSESSIONID — see the note above. If the SDK lacks the unquote
    # modifier, this 403s; add it (one line, mirrors the existing `num:` cast).
    csrf-token: "${unquote:auth.jsessionid}"
    x-restli-protocol-version: "2.0.0"
    x-li-lang: "en_US"
    # Copied from a live request; clientVersion rolls with LinkedIn deploys but
    # is not validated strictly — a recent value is enough.
    x-li-track: '{"clientVersion":"1.13.44736","mpVersion":"1.13.44736","osName":"web","timezoneOffset":0,"deviceFormFactor":"DESKTOP","mpName":"voyager-web"}'
    accept: "application/vnd.linkedin.normalized+json+2.1"

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: li_at

security:
  - cookieAuth: []

paths:
  # =========================================================================
  # Who am I — the verify probe and a standalone command  [PROVEN: 200]
  # =========================================================================
  /voyager/api/me:
    get:
      operationId: me
      x-mastro-command: me
      summary: Show the logged-in member (verify probe).
      description: >
        Returns the signed-in member's mini-profile (the app's own `me` call).
        Cheap and read-only — used as the post-capture liveness probe and
        exposed as a command so you can confirm which account is active. Proven
        to return real data (plainId, miniProfile urn) against a live session.
      x-mastro-result: data
      responses:
        "200": { description: The signed-in member. }
        "401": { description: Session expired or rejected. }

  # =========================================================================
  # Read a member profile by public id (the /in/<publicId> slug)  [PROVEN: 200]
  # =========================================================================
  # The fixed finder `q=memberIdentity` is baked into the path (it's not a user
  # choice); buildUrl preserves a path's existing query and merges the dynamic
  # params after it. Only `memberIdentity` is a real flag.
  /voyager/api/identity/dash/profiles?q=memberIdentity:
    get:
      operationId: profile
      x-mastro-command: profile
      summary: Read a member's profile by public id.
      description: >
        Fetches a member's profile by their public identifier — the slug in
        linkedin.com/in/<publicId> (e.g. "williamhgates"). Returns the identity
        dash profile collection: the `data` envelope points at a profile urn in
        `included[]`, where the member's name, headline, location, and the
        position/education/skill entities live (normalized+json — entities are
        referenced by urn and resolved from `included`). Proven to return real
        data against a live session. Use `search-people` to find the publicId.
      x-mastro-result: included
      parameters:
        - name: memberIdentity
          in: query
          required: true
          description: The public id (the /in/<publicId> slug), e.g. "williamhgates".
          schema: { type: string }
      responses:
        "200": { description: The member's profile (data + included entities). }
        "401": { description: Auth expired or rejected. }
        "404": { description: No such member. }

  # =========================================================================
  # Read a company by universal name
  # =========================================================================
  /voyager/api/organization/companies?q=universalName:
    get:
      operationId: company
      x-mastro-command: company
      summary: Read a company by universal name.
      description: >
        Fetches a company by its universal name — the slug in
        linkedin.com/company/<universalName> (e.g. "microsoft"). Returns the
        organization record: name, tagline, industry, headquarters, employee
        count range, follower count, and website. Use `search-companies` to find
        the universalName. (Same Voyager surface family as `profile`, which is
        proven; verify through the browser tab on first use.)
      x-mastro-result: elements
      parameters:
        - name: universalName
          in: query
          required: true
          description: The company slug (the /company/<name> path), e.g. "microsoft".
          schema: { type: string }
      responses:
        "200": { description: The company record. }
        "401": { description: Auth expired or rejected. }
        "404": { description: No such company. }

  # =========================================================================
  # Search people — server-driven-UI (RSC), NOT Voyager  [captured 2026-06-11]
  # =========================================================================
  # The old Voyager search endpoints are all dead (verified live):
  #   • /voyager/api/typeahead/hitsV2               → 404 (endpoint gone)
  #   • /voyager/api/search/dash/clusters           → 500 (shape changed)
  #   • /voyager/api/graphql blended-search         → 403 (uncapturable queryId)
  #   • /voyager/api/voyagerJobsDashJobCards        → 500 (needs decorationId)
  # The flagship search UI is now server-driven UI (RSC): the SRP POSTs to
  # /flagship-web/search/results/all/?keywords=… and answers with a React Server
  # Components (Flight) component tree — NOT JSON. This op replays that POST
  # (keyed only by `keywords`; the page-load request needs no prior searchId)
  # and walks the Flight tree with x-mastro-extract `format: flight`. The big
  # `newHierarchy`/presentation envelope is static SDUI navigation scaffolding,
  # sent verbatim; only `keywords` varies (it appears in the `url` field and in
  # requestedArguments.payload). The page captures 10 people per request; deeper
  # pages use a separate pagination POST that needs a searchId from this
  # response (not wired — keep it human-paced, one page is plenty of signal).
  /flagship-web/search/results/all/?origin=GLOBAL_SEARCH_HEADER:
    post:
      operationId: searchPeople
      x-mastro-command: search-people
      summary: Search for people by keyword.
      description: >
        Searches LinkedIn for people matching `keywords` (names, titles,
        companies — the global search box). Returns the people the first results
        page renders inline (the top few — the rest lazy-load on scroll), each
        with name, headline, location, connection distance, profile URL, and
        publicId (the /in/<publicId> slug — feed it to `profile` for the full
        record). This is the SDUI/Flight surface, not Voyager: heavier automation
        signal than a single profile read (it's the classic scraping pattern), so
        keep it human-paced.
      parameters:
        - name: keywords
          in: query
          required: true
          description: The search query, e.g. "react engineer berlin".
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json: {}
      # The fixed SDUI navigation envelope. `${args.keywords}` is interpolated
      # in the two places LinkedIn varies it; everything else is the static
      # screen-hierarchy scaffolding the web app sends on a fresh SRP load.
      x-mastro-body:
        $type: proto.sdui.actions.core.NavigateToScreen
        screenId: com.linkedin.sdui.flagshipnav.search.SearchResultsAll
        pageKey: search_srp_all
        presentationStyle: PresentationStyle_FULL_PAGE
        presentation:
          $case: fullPage
          fullPage: { $type: proto.sdui.actions.core.presentation.FullPagePresentation }
        title: Search
        newHierarchy:
          $type: proto.sdui.navigation.ScreenHierarchy
          screenHash: com.linkedin.sdui.flagshipnav.home.Home#0
          screenId: com.linkedin.sdui.flagshipnav.home.Home
          pageKey: ""
          isAnchorPage: true
          childHierarchy:
            $type: proto.sdui.navigation.ScreenHierarchy
            screenHash: com.linkedin.sdui.flagshipnav.search.SearchResults#0
            screenId: com.linkedin.sdui.flagshipnav.search.SearchResults
            pageKey: ""
            isAnchorPage: true
            childHierarchy:
              $type: proto.sdui.navigation.ScreenHierarchy
              screenHash: com.linkedin.sdui.flagshipnav.search.SearchResultsAll#4d18e495
              screenId: com.linkedin.sdui.flagshipnav.search.SearchResultsAll
              pageKey: ""
              isAnchorPage: true
              url: ""
            url: ""
          url: ""
        url: "/search/results/all/?keywords=${args.keywords}&origin=GLOBAL_SEARCH_HEADER"
        inheritActor: false
        colorScheme: ColorScheme_UNKNOWN
        disableScreenGutters: false
        shouldHideMobileTopNavBar: true
        shouldHideLoadingSpinner: false
        screenTitle: [Search]
        replaceCurrentScreen: false
        shouldHideMobileTopNavBarDivider: false
        clearBackStack: false
        requestedArguments:
          payload:
            keywords: "${args.keywords}"
            origin: GLOBAL_SEARCH_HEADER
          states: []
          requestMetadata: { $type: proto.sdui.common.RequestMetadata }
          screenId: ""
      # The SDUI endpoint speaks Flight, not Voyager JSON: it wants `x-li-rsc-
      # stream: true` and a plain `accept`, overriding the global Voyager
      # `accept: application/vnd.linkedin.normalized+json+2.1`. The app version
      # rolls with deploys but isn't strictly validated — a recent value passes.
      x-mastro-headers:
        accept: "*/*"
        x-li-rsc-stream: "true"
        x-li-application-version: "0.2.5963"
        x-li-anchor-page-key: d_flagship3_search_srp_all
      # The body is a Flight stream, not JSON. Walk the component tree: each
      # element tagged viewName "people-search-result" is one person; read the
      # profile URL (and its /in/<publicId> slug) and the ordered visible text
      # (name / headline / location) off the card.
      x-mastro-extract:
        format: flight
        item: people-search-result
        fields:
          name:     { from: text, role: name }
          headline: { from: text, role: headline }
          location: { from: text, role: location }
          distance: { from: text, match: "^•" }
          url:      { from: nav-url }
          publicId: { from: nav-url, pattern: "/in/([^/?]+)" }
      responses:
        "200": { description: People results (Flight tree → extracted cards). }
        "401": { description: Auth expired or rejected. }
